/* Login */ 
#login-form {
    width: 60%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgb(238, 77, 45);
}

#login-form input{
    width: 60%;
    margin: 5px auto;
}

#login-form #login-btn{
    background-color: rgb(238, 77, 45);
    color: #fff;
}

#login-form #register-url{
    color: rgb(238, 77, 45); 
}

/* Register */
#register-form {
    width: 60%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgb(238, 77, 45);
}

#register-form input{
    width: 60%;
    margin: 5px auto;
}

#register-form #register-btn{
    background-color: rgb(238, 77, 45);
    color: #fff;
}

#register-form #login-url{
    color: rgb(238, 77, 45); 
}